.contact-header{
    color: black;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 55px 0px 20px 0px;
}

form{
    margin-bottom: 107px;
    .inputs{
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        color: black;
        .input-group{
            input{
                border-radius: 20px;
                border: 1px solid black;
                padding: 10px 20px;
                margin: 3px;
            }
            label{
                font-size:30px;
            }
            textarea{
                border-radius: 20px;
            }
        }
    }
    button{
        
        background-color: $main-color;
        color: white;
        text-decoration: underline;
        text-decoration-color: $secondary-color;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px 30px;
        border: none;
        display: flex;
        margin: 2px auto 0px auto;
        cursor: pointer;
    }
}