#about{
    text-align: center;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 1000;
    
    h1{
        margin-top: 100px;
        margin: 100px 0px 50px 0px;
    }
    p{
        margin: 0px auto 213px auto;
        font-size: 20px;
        width: 800px;
    }
}